<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'aurerioGame/css/home.css' %}"/>
</head>
<body>
    <div id="divBoto"> <!--Botoes do topo-->
            <button name="login">Login</button>
            <button name="cadastrar">Cadastrar</button>
    </div> <!--Botoes do topo-->
    <div> <!--Div de informacoes-->
        <h1>Instruçoes do jogo</h1>
        <p> Abaixo segue as informações do jogo </p>
        <p>Parece que nosso amigo não consegue segurar seu dinheiro, ajude-o a se manter
        em pe sem deixar seu dinheiro cair </p>
    </div> <!--Div de informacoes-->

</body>
</html>