<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Aurélio Adventure's</title>
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'componentes/aurerio.css' %}">
	<script type="text/javascript" src="{% static 'componentes/aurerio.js' %}"></script>
</head>
<body>

	<div id="App">
		<div id="Texto">Você salvou:</div>
		<div id="Placar"></div>

            <div id="BemVindoDiv">
				<div class="Mensagem">Atenção!</div>
				<div class="AjudeAmigo">Nova Odessa está falindo! <br><br>Parece que nosso amigo não consegue segurar seu dinheiro, ajude-o a se manter em pé sem deixar seu dinheiro cair.</div>

				<div class="nome">
				    <input placeholder="Insira seu nome..." value="" class="InputNome InputNomeJogador" id="InputNome" type="text" name="nome_jogador">
				</div>

				<div class="BotaoJogar2" onclick="IniciarJogo()">Jogar!</div>
			</div>


			<div id="PerdeuDiv">
			<div class="TituloPerdeu">Você Perdeu!</div>
			<div class="TextoPerdeu">Não desista! <br> Ainda há tempo de salvar todo o dinheiro de sua família!</div>

			<div class="BotaoPlacar" onclick="MostraPlacar()">Placar</div>

			<div class="BotaoJogar" onclick="parent.window.document.location.href = '';">Devolva meu dinheiro!</div>
			</div>

		<div id="PlayerDiv">
			<img src="{% static 'sprites/aurerio-direita.png' %}" id="Player" class="Espelhou">
		</div>
		<div class="Chao"></div>
	</div>

</body>
</html>

